<div ng-controller="spikeWebRTCCallController as viewModel">
    <h1>WebRTC Codelab: Step 3</h1>

    <!--button ng-click="viewModel.onCallClick()">Call</button-->

    <div class="videoContainers">
        <div id="localVideoContainer" class="playerContainer localPlayer">
        </div>
        <div id="remoteVideoContainer" class="playerContainer remotePlayer">
        </div>
    </div>
    <div>
        <button id="startButton" ng-click="viewModel.startClick()">Start
        </button>
        <button id="callButton" ng-click="viewModel.callClick()">Call
        </button>
        <button id="hangUpButton" ng-click="viewModel.hangUpClick()">Hang
            Up
        </button>
    </div>
    <br><br><br>

    <div>
        <div id="loggingData"></div>
    </div>

    <script>


    </script>
</div>