<div ng-controller="spikeWebRTCCallController as viewModel">
    <h1>WebRTC Codelab: Step 3</h1>

    <!--button ng-click="viewModel.onCallClick()">Call</button-->

    <div class="videoContainers">
        <div id="localVideoContainer" class="playerContainer localPlayer">
            <!--<video id="localVideoPlayer" autoplay="autoplay" muted controls="">-->
                <!--&lt;!&ndash;<source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">&ndash;&gt;-->
            <!--</video>-->
        </div>
        <div class="playerContainer remotePlayer">
            <video id="remoteVideoPlayer" class="normalPlayer" autoplay muted></video>
        </div>
    </div>
    <div>
        <button id="startButton" ng-click="viewModel.startClick()">Start
        </button>
        <button id="callButton" ng-click="viewModel.callClick()">Call
        </button>
        <button id="hangUpButton" ng-click="viewModel.hangUpClick()">Hang
            Up
        </button>
    </div>
    <br><br><br>

    <div>
        <div id="loggingData"></div>
    </div>

    <script>


    </script>
</div>