.normalPlayer {
    height: 100%;
    width: 100%;
}

.normalPlayerContainer {
    margin: auto;
    height: 20vw;
    width: 20vw;
    background: #ff0000;
}

.playerContainer {
    height: 20vw;
    width: 20vw;
    margin: 10px;
    border-radius: 25px;
    border: 3px solid;
}

.remotePlayer {
    float: left;
    border-color: #0000ff;
}

.localPlayer {
    float: left;
    border-color: #800080;
}

.testVideoSize {
    width: 90%;
    height: auto;
    margin: 25px;
}

.videoContainers {
    margin: auto;
}