<div ng-controller="spikeRemoteCallController as viewModel">

    <h1>David Web RTC Spike</h1>

    <div class="videoContainers">
        <div id="localVideoContainer" class="playerContainer localPlayer">
        </div>
        <div id="remoteVideoContainer" class="playerContainer remotePlayer">
        </div>
    </div>

    <div style="display: block; clear: both;">
        <div style="float: left;">
            <button ng-click="viewModel.startClick()">
                Start
            </button>
            <button ng-click="viewModel.makeCallClick()">
                Call
            </button>
        </div>

        <br />
        <div style="clear: both;" id="loggingData"></div>
    </div>



</div>